<!-- Footer
		============================================= -->
<footer id="footer" class="dark border-0 mt-0">

  <div class="container center">
    <div class="footer-widgets-wrap">

      <div class="row mx-auto clearfix">

        <div class="col-lg-12">

          <div class="widget clearfix">
            <h4>Contact</h4>

            <p class="lead">King M.A. Simeon's Palace,<br> Old Oyoyo Market Road Opposite <br>NDU LAW FACULTY Ovom/Yenagoa</p>

            <div class="center topmargin-sm">
              <a href="#" class="social-icon inline-block border-0 si-small si-facebook" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>
              <a href="#" class="social-icon inline-block border-0 si-small si-twitter" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon inline-block border-0 si-small si-github" title="Github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>
              <a href="#" class="social-icon inline-block border-0 si-small si-pinterest" title="Pinterest">
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
              </a>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div id="copyrights">
    <div class="container center clearfix">
      Copyrights DiriBoost Initiative 2021 | All Rights Reserved <br><small class="text-success"><span><i>powered by: Bayelsa State
          Government</i></span></small>
    </div>
  </div>

</footer><!-- #footer end -->