{{form.non_field_errors}}

<form action="" method="post" id="msform" enctype="multipart/form-data">
  {% csrf_token %}
  <ul id="progressbar" class="center">
    <li class="active">Personal Details</li>
    <li>Bank Information</li>
    <li>Verification Fee</li>
  </ul>
  <fieldset>
    <h2 class="fs-title">
      Diriboost Verification
    </h2>
    <h3 class="fs-subtitle">
      Personal Details
    </h3>
    <div class="row">
      {{form.first_name.errors}}
      <input type="text" name="First Name" id="id_first_name" class="sm-form-control col-12 mb-4">
      {{form.min_name.errors}}
      <input type="text" name="Middle Name" id="id_mid_name">
      {{form.last_name.errors}}
      <input type="text" name="Last Name" id="id_last_name">
      {{form.state.errors}}
      <input type="text" name="First Name" id="id_first_name">
      {{form.lga.errors}}
      <input type="text" name="First Name" id="id_first_name">
    </div>
  </fieldset>
</form>