{% load i18n crispy_forms_tags %}



<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms in crispy_form %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% crispy form %}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button class="button button-border button-circle font-weight-medium ml-0 topmargin-sm" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button class="button button-border button-circle font-weight-medium ml-0 topmargin-sm" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% elif wizard.steps.next %}
<input class="button button-border button-circle font-weight-medium ml-0 topmargin-sm" type="submit" value="{% trans "next" %}"/>
{% else %}
<input class="button button-border button-circle font-weight-medium ml-0 topmargin-sm" type="submit" value="{% trans "submit" %}"/>
{%endif %}
</form>
