{% load static %}

<!-- Slider
		============================================= -->
<section id="slider" class="slider-element include-header">

	<div class="row align-items-stretch no-gutters min-vh-100">
		<div class="col-lg-6 col-md-7 order-md-last">
			<div class="vertical-middle px-lg-5 form-widget" data-loader="button">
				<div class="p-5">
					{% include 'includes/about.html' %}
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-5 dark"
			style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url('{% static " images/gov.jpeg" %}') center
			center no-repeat; background-size: cover;">
			<div class="d-flex justify-content-center align-items-center h-100 p-5">
				<ul class="iconlist mb-0">
					<li>
						<h4 class="mb-2"><i class="icon-line-circle-check"></i>For entrepreneurs in Bayelsa.</h4>
					</li>
					<li>
						<h4 class="mb-2"><i class="icon-line-circle-check"></i>2021 Entreprenuership Programme.</h4>
					</li>
					<li>
						<h4 class="mb-2"><i class="icon-line-circle-check"></i>Account Verification.</h4>
					</li>
				</ul>
			</div>
			<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65"
				class="one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
		</div>
	</div>

</section><!-- #slider end -->