{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock head %}

{% block content %}
{% include 'includes/hero.html' %}
<main id="content">
  <div class="content-wrap py-0">
    <div id="section-about" class="page-section">

      <div class="container clearfix">

        <div class="mx-auto topmargin-lg bottommargin-lg" style="max-width: 850px;">
          <div class="container">
            {% include 'includes/form.html' %}
          </div>
        </div>

      </div>
    </div>

  </div>
</main>
{% endblock content %}

{% block inline_javascript %}
<script>
  jQuery(document).ready(function () {

    jQuery('.price-block input:radio').on('change', function () {
      $('.checked').removeClass('checked');
      if ($(this).is(':checked')) {
        $(this).parents('label').addClass('checked');
      }
    });

  });
</script>
{% endblock inline_javascript %}