{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock head %}

{% block content %}
{% include 'includes/hero.html' %}
<main id="content">
  <div class="content-wrap py-0">
    <div id="section-about" class="page-section">

      <div class="container clearfix">

        <div class="mx-auto topmargin-lg bottommargin-lg" style="max-width: 850px;">
          <div class="container">
            <h4 class="bottommargin-sm">Verify For DiriBoost</h4>

            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <form id="sub-form" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
              <script src="https://js.paystack.co/v1/inline.js"></script>
              <div class="row">
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                {% crispy form.as_p %}
                {% endfor %}
                {% else %}
                {{ wizard.form }}
                {% endif %}
              </div>

              {% if wizard.steps.next %}
              <button type="submit"
                class="btn-block button button-border button-circle font-weight-medium ml-0 topmargin-sm"
                name="wizard_goto_step" value="{{ wizard.steps.next }}">{% trans "NEXT" %}</button>
              {% endif %}
              {% if wizard.steps.last and not wizard.steps.next %}
              <input onclick="payWithPaystackOrg()" id="pay"
                class="btn-block button button-border button-circle font-weight-medium ml-0 topmargin-sm" type="submit"
                value="{% trans " SUBMIT" %}" />
              {% endif %}
              {% if wizard.steps.prev %}
              <button type="submit"
                class="btn-block button button-border button-circle font-weight-medium ml-0 topmargin-sm"
                name="wizard_goto_step" value="{{ wizard.steps.prev }}">{% trans "PREVIOUS" %}</button>
              {%endif %}
            </form>

          </div>
        </div>

      </div>
    </div>

  </div>
</main>
{% endblock content %}

{% block inline_javascript %}
<script>
  $('input#pay').click(function payWithPaystackOrg(e) {
    e.preventDefault();
    var email = $("#id_0-email").val();
    var phone = $("#id_0-phone").val();
    var amount = $("#id_2-amount").val();

    var handler = PaystackPop.setup({
      key: 'pk_test_bbf939ac50083a6842f9a88433cf6ba690b9ca09',
      email: email,
      amount: amount,
      currency: "NGN",
      ref: "DIRIBOOST_" + Math.floor((Math.random() * 1000000000) + 1),
      metadata: {
        custom_fields: [
          {
            display_name: "Mobile Number",
            variable_name: "mobile_number",
            value: phone
          }
        ]
      },
      callback: function (response) {
        alert('successfully registered with transaction ref: ' + response.reference);
        e.currentTarget.submit();
      },
      onClose: function () {
        alert('window closed');
      }
    });
    handler.openIframe();
  });
</script>
{% endblock inline_javascript %}